# Ignorar archivos objeto y binarios
*.o
*.a
*.out
*.so
*.dylib
checker_linux

# Ignorar ejecutables
push_swap

# Ignorar directorios de compilación
/build

# Ignorar compilados
libft/libft.a
libft/ft_printf/libftprintf.a
